.container {
  margin-left: 30px;
}

.title {
  color:#008376;
}

.list {
  margin-bottom: 20px;
}

.item-list {
  display: flex;
  align-items: center;
}

.item-list p {
  font-weight: 500;
  margin: 4px;
  color: #008376;
}
