.container {
  margin: auto;
  width: 1500px;
}

.title {
  color:#008376;
  font-size: 28px;
  border-bottom: 1px solid black;
  margin-top: 20px;
}

.container-list {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
  border-bottom: 1px solid black;

  button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 28px;
    width: 100px;
    margin-left: 4px;

    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: #008376;
    border: none;
    border-radius: 14px;
    cursor: pointer;
  }

  button:hover {
    opacity: 70%;
  }
}

.buttons {
  display: flex;
}

.item-list {
  display: flex;
  align-items: center;
}

.item-list {
  p {
    font-weight: 500;
    margin: 4px;
    color: #008376;
  }
}

@media (max-width: 1550px) {
  .container {
    margin: auto;
    width: 800px;
  }
}

@media (max-width: 900px) {
  .container {
    margin: auto;
    width: 600px;
  }
}

@media (max-width: 600px) {
  .container {
    margin: auto;
    width: 500px;
    height: 80px;
  }
  .container-list {
    display: flex;
    flex-direction: column;
  }
  .item-list {
    margin-bottom: 4px;
  }
  .buttons {
    margin-bottom: 4px;
  }
}


@media (max-width: 400px) {
  .container {
    margin: auto;
    width: 300px;
    height: 80px;
  }
  .container-list {
    display: flex;
    flex-direction: column;
  }
  .item-list {
    margin-bottom: 4px;
  }
  .buttons {
    margin-bottom: 4px;
  }
}
