form {
  width: 320px;
  padding-top: 30px;
  margin: auto;
}

.form {
  padding-top: 20px;
  small {
    color: red;
  }
}

.form-input {
  input {
    width: 100%;
    height: 30px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 14px;
    font-weight: 700;
  }
}

.form-input {
  label {
    color: #efeeed;
    font-size: 12px;
  }
}

.button {
  position: relative;
}

.btn {
  background-color: #00c8b3;
  width: 320px;
  height: 50px;
  border-radius: 25px;
  border: none;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.button:hover {
  opacity: 70%;
  cursor: pointer;
}

.btn:disabled {
  color: #dddcdc;
  background-color: #f6f6f6;
  cursor: default;
}

.loader {
  position: absolute;
  top: 44%;
  left: 44%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #00c8b3;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ng-invalid.ng-touched:not(form) {
  border-bottom: 1px solid red;
  background: none;
  outline: none;
}
