header {
  background-color: #00c8b3;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  height: 60px;
  width: 1500px;
  background-color:#00c8b3;
}

.nav {
  a {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  margin-right: 8px;
  }

  a:hover {
  color: #006359;
  }
}

.title {
  color: #ffffff;
  font-size: 32px;
    a {
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
  }
  a:hover {
    color: #006359;
    }
}

@media (max-width: 1550px) {
  .navbar {
    width: 800px;
  }
}

@media (max-width: 800px) {
  .navbar {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .navbar {
    width: 500px;
    height: 80px;
  }
}


@media (max-width: 400px) {
  .navbar {
    width: 300;
    height: 80px;
    display: flex;
    flex-direction: column;
  }
  .title {
    margin-top: 8px;
  }
}

